.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background: linear-gradient(to right, #0F94F8 , #056BFC);
  color: #FFFFFF;
  padding: 2rem;
  height: 50%;
}

.subValue {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.value {
  font-size: 3rem;
  font-weight: bold;
}
